<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TechOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="has-background-light" style="height: 900px; display: flex; align-items: center; justify-content: center;">

    <div class="column is-4">
        <div class="box" style="border-top: 4px solid #363636;"> 
            <div class="has-text-centered mb-4">
                <i class="fa-solid fa-screwdriver-wrench fa-3x has-text-dark"></i>
                <h1 class="title mt-2 has-text-dark">TechOS</h1>
            </div>

            <% if (typeof erro !== 'undefined') { %>
                <div class="notification is-danger is-light">
                    <%= erro %> <!-- erro vindo da mensagem do back -->
                </div>
            <% } %> 
          

            <form action="/login" method="POST">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="username" placeholder="Usuário" required>
                        <span class="icon is-left"><i class="fas fa-user"></i></span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Senha" required>
                        <span class="icon is-left"><i class="fas fa-lock"></i></span>
                    </div>
                </div>

                <button type="submit" class="button is-dark is-fullwidth">Entrar</button>
            </form>
        </div>
    </div>

</body>
</html>
